

/* commons ---------------------------- */

* {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0px;
}

body{
    background-color: #f6f8f9;
}


div{
    background-color: white ;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}


/* utilities ---------------------------- */

.mt-2{
    margin-top: 2px;
}

.mt-30{
    margin-top: 30px;
}

.pl-50{
    padding-left: 50px;
}

.pt-20{
    padding-top: 20px;
}

.p-5{
    padding: 5px;
}



/* header ---------------------------- */

header{
    background-color: white;
    height: 80px;
}

.logo-text{
    color: #041830;
    font-size: 50px;
    vertical-align: middle;
    font-weight: 800;
}

.logo{
    height: 55px ;
    padding-left: 20px;
    padding-top: 6px;
    vertical-align: middle;

}

/* main ---------------------------- */
.notp-button{
    background-color: white ;
    color: lightgray;
    border: 1px solid lightgray;
    font-size: 13px;
    border-radius: 4px;
    padding: 7px 10px; 
}
.p-button{
    background-color: #45acf1 ;
    color: white;
    font-size: 13px;
    border-radius: 4px;
    padding: 7px 10px; 
    line-height: 60px;   
}

.buttons{
    height: 60px;
}

.task-title{
    font-weight: 600;
    color: #565962;
}

.task-text{
    color: #767a80;
    padding-top: 8px;
    padding-bottom: 8px;

}

.down-arrow{
    font-size: 10px;
}

.circle-check{
    color: green;
    border: 1px solid green;
    border-radius: 14px;
    padding: 1px 5px;
    text-align: center;
    vertical-align: middle;
}

.circle-cross{
    color: red;
    border: 1px solid red;
    border-radius: 14px;
    padding: 1px 5px;
    text-align: center;
    vertical-align: middle;
}

.blue-ball{
    background-color: #45acf1 ;
    color: white;
    font-size: 10px;
    line-height: 16px;
    border-radius: 10px;
    padding: 3px;
}

.violet-ball{
    background-color: #9c72e4 ;
    color: white;
    font-size: 10px;
    line-height: 16px;
    border-radius: 10px;
    padding: 3px;
}

.green-ball{
    background-color: #64c0a9 ;
    color: white;
    font-size: 10px;
    line-height: 16px;
    border-radius: 10px;
    padding: 3px;
}

.orange-ball{
    background-color: #f29e33 ;
    color: white;
    font-size: 10px;
    line-height: 16px;
    border-radius: 10px;
    padding: 3px;
}

.lime-ball{
    background-color: #b0c926 ;
    color: white;
    font-size: 10px;
    line-height: 16px;
    border-radius: 10px;
    padding: 3px;
}

.light-violet-ball{
    background-color: #d863a1 ;
    color: white;
    font-size: 10px;
    line-height: 16px;
    border-radius: 10px;
    padding: 3px;
}




